
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div  style="min-height:500px;">
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-6 col-md-3 mb-4">
            <a asp-controller="Profile" asp-action="index">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                Profile
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-address-card fa-2x text-gray-600"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-sm-6 col-md-3 mb-4">
            <a asp-controller="Slider" asp-action="index">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                Slider
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-images fa-2x text-gray-600"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-3 mb-4">
            <a asp-controller="Awards" asp-action="index">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                Awards
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-gifts fa-2x text-gray-600"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-3 mb-4">
            <a asp-controller="Blogs" asp-action="index">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                Blogs
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-blog fa-2x text-gray-600"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-3 mb-4">
            <a asp-controller="Categories" asp-action="index">
                <div class="card border-left-dark shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                Project Categories
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-list-alt fa-2x text-gray-600"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-sm-6 col-md-3 mb-4">
            <a asp-controller="Projects" asp-action="index">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                Project
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-grip-horizontal fa-2x text-gray-600"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-3 mb-4">
            <a asp-controller="images" asp-action="index">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                Project Images
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-images fa-2x text-gray-600"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-3 mb-4">
            <a asp-controller="MediaCategories" asp-action="index">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                Media Categories
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-server fa-2x text-gray-600"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-3 mb-4">
            <a asp-controller="Media" asp-action="index">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                Media Categories
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-play-circle fa-2x text-gray-600"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-3 mb-4">
            <a asp-controller="Careers" asp-action="index">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                Careers
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-tie fa-2x text-gray-600"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-3 mb-4">
            <a asp-controller="Team" asp-action="index">
                <div class="card border-left-dark shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                Team
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-users fa-2x text-gray-600"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-3 mb-4">
            <a asp-controller="Requests" asp-action="index">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                Requests
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-envelope fa-2x text-gray-600"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>
