@model Vivid.Areas.Admin.Models.Award

@{
    ViewData["Title"] = "Delete Award";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="mt-2 link">
    <a asp-controller="awards" asp-action="index">Awards </a> /
</div>
<div class="card mt-2">
    <div class="card-header">
        <h3>Are you surre you want to delete theis award?</h3>
    </div>
    <div class="card-body">
        <strong>Title: </strong>
        <p class="card-text">@Model.Name</p>
        <img class="img-thumbnail rounded" src="~/images/awards/@Model.Image" style="width:400px;height:400px" />
    </div>
    <div class="card-footer">
        <form asp-action="Delete" method="post">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
</div>