@model IEnumerable<Photo>

@{
    ViewData["Title"] = "Project Images";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<a asp-action="Create" asp-controller="Images" class="btn btn-outline-info mt-2">Add New Photo to Project</a>
@if (Model.Any())
{
    <div class="row mt-2">

        @foreach (var image in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img class="img-thumbnail rounded" src="~/images/project/@image.Image" style="height:250px; width:275px " />
                <div>
                    <a asp-area="Admin" asp-controller="Images" asp-action="Edit" asp-route-id="@image.ID" class="fas fa-edit text-primary"></a>
                    <a asp-area="Admin" asp-controller="Images" asp-action="Delete" asp-route-id="@image.ID" class="fas fa-trash text-danger"></a>
                </div>
            </div>
        }
        <hr />
    </div>
}
else
{
    <div class="row mt-2">
        <table class="table table-striped">
            <thead>
                <tr>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center font-weight-bold">There is no photos for this project</td>
                </tr>
            </tbody>
        </table>
    </div>
}
