@model Vivid.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="media" id="white-sec">

    <div class="blog media__body">
        <div class="wrapper wrapper_large">
            <div class="media__inner">
                @foreach (var item in Model.Blogs)
                {
                    <a asp-action="BlogDetails" asp-route-id="@item.ID" target="_blank"
                       class="card media__card" data-filter-card="Publications"
                       style="background: url(/images/blogs/@item.Image) center center / cover no-repeat;">

                        <div class="card__outer">
                            <div class="card__content">
                                <h3 class="h3 card__h3">
                                    @item.Title
                                </h3>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</section>
<!-- media  Section End -->

<!-- Talk about your project sec -->
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="section-title" style="width: 80%;">
                <h2 data-aos="fade-up" data-aos-duration=".5s" data-aos-delay="200">
                    Let’s talk about your project!
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="about__text">
                    <div class="about__para__text" data-aos="fade-up" data-aos-duration="1s" data-aos-delay="400">
                        <p>We are ready to share with you our design vision and lead you into the exciting world of creativity.</p>
                    </div>

                    <a asp-controller="Contact" asp-action="index" class="primary-btn normal-btn" data-aos="flip-left" data-aos-delay="500">SEND REQUEST</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Talk about your project sec -->
