<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Staging Template">
    <meta name="keywords" content="Staging, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VIVID</title>

    <!-- Google Font -->
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet"> -->
    <!-- Css Styles -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css"> <!--Aos Library-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> <!--w3-animate-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slick.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <!-- Header Section Begin -->
    <header class="header darksmlheader" id="myHeader">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <div class="black-logo" id="black-logo">
                            <a asp-controller="Home" asp-action="index">
                                <img src="/img/logo/last black.png" alt="logo-vivda">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <nav class="header__menu mobile-menu">
                        <!-- Nav Toggler Btn -->
                        <a asp-controller="Home" asp-action="index">
                            <div class="nav-toggler closenavtglr open" id="littlebtn">
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- bigHeader-->
    <section class="outerall">
        <div class="bigHeader open">
            <div class="container contant">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="bigheader__item__text w3-animate-bottom">
                            <h5 data-aos="fade-right" data-aos-delay="200">General Inquiries:</h5>
                            <span data-aos="fade-up" data-aos-delay="400">info@vivida-eg.com</span>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="bigheader__item__text w3-animate-bottom" animation-delay="2s">
                            <h5>PR&Collaborations:</h5>
                            <span data-aos="fade-up" data-aos-delay="200">pr@vivida-eg.com</span>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="nav-links">
                            <ul>
                                <li class="w3-animate-bottom">
                                    <!--style="animation-delay:.5s;"-->
                                    <a asp-controller="Projects" asp-action="index">Projects</a>
                                </li>
                                <li class="w3-animate-bottom"><a asp-controller="About" asp-action="index">About</a> </li>
                                <li class="w3-animate-bottom"><a asp-controller="Media" asp-action="index">Media</a></li>
                                <li class="w3-animate-bottom"><a asp-controller="Blogs" asp-action="index">Blog</a>
                                <li class="w3-animate-bottom"><a asp-controller="Career" asp-action="index">Careers</a></li>
                                <li class="w3-animate-bottom"><a asp-controller="Contact" asp-action="index">Contact</a></li>

                            </ul><!-- <li class="w3-animate-bottom"><a href="#"><i class="fa fa-search"></i></a></li> -->



                            <div class="our__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="bigheader__item__text w3-animate-bottom" style="animation-duration: 1s;">
                            <h5>Careers:</h5>
                            <span data-aos="fade-up-right" data-aos-delay="3000">hr@vivid.com</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-5 bigheader__item__text w3-animate-left">
                        <p data-aos="fade-up" data-aos-delay="400">For each project the approach rests on a careful understanding of the space, or the site’s.</p>
                        <a asp-controller="Contact" asp-action="index" class="primary-btn normal-btn" data-aos="flip-left" style="color: #ffffff;">SEND REQUEST</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Js Plugins -->
    <!-- Animate -->
    <script src="/js/animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>  <!-- for loader -->
    <!--Aos Library-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/js/aos.js"></script>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/main.js"></script>

    <!-- Animate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="/js/animate.js"></script>

</body>
</html>