@model Vivid.Areas.Admin.Models.Slider

@{
    ViewData["Title"] = "Slider Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3>@Model.Title</h3>
        
    </div>
    <div class="card-body text-center">
        
        <img src="~/images/slider/@Model.Photo" class="rounded" width="500" height="500" />
        
    </div>
    <div class="card-footer">
        <a asp-area="Admin" asp-controller="slider" asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Edit</a>
        <a asp-area="Admin" asp-controller="slider" asp-action="index" asp-route-id="@Model.ID" class="btn btn-secondary">Back</a>
    </div>
</div>